body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    margin: 20px; /* Ajuste de margens */
}

.page-title {
    color: #ffffff;
    margin: 10px 0 5px; /* Adição de unidades */
}

.page-logo {
    width: 200px;
}


.converter, #valorBTC {
    align-items: center;
    border-radius: 10px;
    background-color: hsla(0, 0%, 100%, 0.286);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
    transition: background-color 0.3s ease; /* Adição de transição */
}

#valorBTC {
    margin-bottom: 10px;
}

label, select, input, button {
    margin: 10px;
}

button {
    font-weight: bold;
    padding: 5px 15px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


#resultado {
    font-weight: bold;
}
